*{
    font-family: "Parkinsans", sans-serif;
}

header{
    background-color: #9ccdf7;
}

.nav-item a{
   color: white;
}

.perfil{
    background-color: white;
}

.boton-perfil{
    background-color: white;
}

.nav-item a:hover{
    background-color: white;
}

#app{
    color: #9ccdf7;
}

.boton-cv{
    background-color: #9ccdf7;
    color: white;
}

.caja-habilidades{
    background-color: #9ccdf7;
}

.btn-proyecto{
    background-color: #90b141;
    color: white;
}

.btn-proyecto a{
    text-decoration: none;
    color: white;
}

.card .card-title{
    color: #9ccdf7;
}

#contacto{
    background-color: #90b141;
}